In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("data/climate-change_ssd.csv")
df.head()

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value
0,South Sudan,SSD,2020,Agricultural land (sq. km),AG.LND.AGRI.K2,282510.000
1,South Sudan,SSD,2019,Agricultural land (sq. km),AG.LND.AGRI.K2,282510.000
2,South Sudan,SSD,2018,Agricultural land (sq. km),AG.LND.AGRI.K2,282510.000
3,South Sudan,SSD,2017,Agricultural land (sq. km),AG.LND.AGRI.K2,283214.750
4,South Sudan,SSD,2016,Agricultural land (sq. km),AG.LND.AGRI.K2,283567.625

In [9]:
# Set of indicators in the dataset
set(df["Indicator Name"])

{'Access to electricity (% of population)',
 'Agricultural land (% of land area)',
 'Agricultural land (sq. km)',
 'Agriculture, forestry, and fishing, value added (% of GDP)',
 'Annual freshwater withdrawals, total (% of internal resources)',
 'Annual freshwater withdrawals, total (billion cubic meters)',
 'Arable land (% of land area)',
 'Average precipitation in depth (mm per year)',
 'CO2 emissions (kg per 2015 US$ of GDP)',
 'CO2 emissions (kg per PPP $ of GDP)',
 'CO2 emissions (kt)',
 'CO2 emissions (metric tons per capita)',
 'CO2 emissions from gaseous fuel consumption (% of total)',
 'CO2 emissions from gaseous fuel consumption (kt)',
 'CO2 emissions from liquid fuel consumption (% of total)',
 'CO2 emissions from liquid fuel consumption (kt)',
 'CO2 emissions from solid fuel consumption (% of total)',
 'CO2 emissions from solid fuel consumption (kt)',
 'CO2 intensity (kg per kg of oil equivalent energy use)',
 'CPIA public sector management and institutions cluster average (1=low to 6=high)',
 'Cereal yield (kg per hectare)',
 'Ease of doing business rank (1=most business-friendly regulations)',
 'Foreign direct investment, net inflows (% of GDP)',
 'Forest area (% of land area)',
 'Forest area (sq. km)',
 'Land area where elevation is below 5 meters (% of total land area)',
 'Methane emissions (kt of CO2 equivalent)',
 'Mortality rate, under-5 (per 1,000 live births)',
 'Nitrous oxide emissions (thousand metric tons of CO2 equivalent)',
 'Population growth (annual %)',
 'Population living in areas where elevation is below 5 meters (% of total population)',
 'Population, total',
 'Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population)',
 'Prevalence of underweight, weight for age (% of children under 5)',
 'Primary completion rate, total (% of relevant age group)',
 'Renewable energy consumption (% of total final energy consumption)',
 'Rural land area where elevation is below 5 meters (% of total land area)',
 'Rural land area where elevation is below 5 meters (sq. km)',
 'Rural population living in areas where elevation is below 5 meters (% of total population)',
 'School enrollment, primary and secondary (gross), gender parity index (GPI)',
 'Terrestrial and marine protected areas (% of total territorial area)',
 'Terrestrial protected areas (% of total land area)',
 'Total greenhouse gas emissions (kt of CO2 equivalent)',
 'Urban land area where elevation is below 5 meters (% of total land area)',
 'Urban land area where elevation is below 5 meters (sq. km)',
 'Urban population',
 'Urban population (% of total population)',
 'Urban population growth (annual %)',
 'Urban population living in areas where elevation is below 5 meters (% of total population)'}